<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><a [routerLink]="['/']" routerLinkActive="link-dark" class="nav-link px-2 link-secondary">Home</a></li>
  <li><a [routerLink]="['/posts']" routerLinkActive="link-dark" class="nav-link px-2 link-dark">Postagens</a></li>
  <li><a [routerLink]="['/portfolio']" routerLinkActive="link-dark" class="nav-link px-2 link-dark">Portfolio</a></li>
  <li><a [routerLink]="['/sobre-mim']" routerLinkActive="link-dark" class="nav-link px-2 link-dark">Sobre mim</a></li>
  <li><a [routerLink]="['/contato']" routerLinkActive="link-dark" class="nav-link px-2 link-dark">Contato</a></li>
</ul>
